<template>
  <div class="home">
    <GobbletsGameBoard>
    </GobbletsGameBoard>
  </div>
</template>

<script>
import GobbletsGameBoard from "@/components/GobbletsGameBoard.vue";

export default {
  name: "GobbletsGameMenu",
  components: {GobbletsGameBoard},
}
</script>

<style scoped>

</style>