<template>
  <TicTacToeGame
    :side=3
    @winner="(value) => {this.endingText = 'Joueur ' + value.toString() + ' a gagné.'}"
    @draw="this.endingText = 'Égalité'"
  />
  <h3>{{endingText}}</h3>
</template>

<script>
import TicTacToeGame from "@/components/TicTacToeGame.vue";

export default {
  name: "TicTacToeMenu",
  components: {TicTacToeGame},
  data(){
    return {
      endingText: ""
    }
  }
}
</script>

<style scoped>

</style>