<template>
  <h2>
    BUT DU JEU :
  </h2>
  <p>Aligner 4 GOBBLETS de sa couleur.</p>
  <h2>
    DÉROULEMENT D’UNE PARTIE :
  </h2>
  <p>A tour de rôle, chaque joueur peut :</p>
  <ul>
    <li>
      Soit mettre en jeu un nouveau GOBBLET dans un espace vide
    </li>
    <li>
      Soit déplacer un de ses GOBBLETS déjà en jeu dans un espace vide ou pour gober une pièce de taille inférieure
    </li>
  </ul>
  <p> Un nouveau GOBBLET mis en jeu doit obligatoirement être placé sur une des cases vides, sauf si l’adversaire a
  3 GOBBLETS alignés : dans ce seul cas, on peut prendre un GOBBLET à l’extérieur du plateau pour gober une de ces 3 pièces.
  Une fois engagé, un GOBBLET ne peut être ressorti du jeu.
  Si un joueur a placé toutes ses pièces avant la fin de la partie, il continue ses déplacements jusqu’à la victoire d’un des 2 joueurs.</p>

  <h2>
    FIN DE LA PARTIE :
  </h2>
  <p>Dès qu’un joueur a 4 GOBBLETS de sa couleur alignés, quelque soit leur taille, verticalement, horizontalement ou en diagonale, il gagne la partie.</p>
</template>

<script>
export default {
  name: "GobbletsRules"
}
</script>

<style scoped>

</style>