<template>
  <v-container fluid v-if="isMounted">
    <v-row align="center" justify="center">
      <v-col>
        <GobbletsPlayerStacks
            class=".stack"
            :playerIndex = 0
            :number-of-stacks=this.nbOfStacksPerPlayer
        />
      </v-col>
    </v-row>

    <v-row align="center" justify="center">
      <v-col>
        <GobbletsGameGrid
            :side=this.gobbletsGridSide
        />
      </v-col>
    </v-row>

    <v-row align="center" justify="center">
      <v-col>
        <GobbletsPlayerStacks
            class=".stack"
            :playerIndex = 1
            :number-of-stacks=this.nbOfStacksPerPlayer
        />
      </v-col>
    </v-row>
    <div class="winning-text" v-if="this.winnerIndex !== undefined && this.winnerIndex !== -1">
      <h2>{{this.players[this.winnerIndex].name + " a gagné !"}}</h2>
    </div>
  </v-container>

</template>

<script>
import GobbletsGameGrid from "@/components/GobbletsGameGrid";
import GobbletsPlayerStacks from "@/components/GobbletsPlayerStacks";
import {mapMutations, mapState} from "vuex";

export default {
  name: "GobbletsGameBoard",
  components: {
    GobbletsPlayerStacks,
    GobbletsGameGrid
  },
  data(){
    return {
      isMounted: false
    }
  },
  computed: {
    ...mapState([
        "nbOfStacksPerPlayer",
        "gobbletsGridSide",
        "nbOfGobbletsDifferentSizes",
        "players",
        "winnerIndex"
    ])
  },
  mounted() {
    this.initGrid();
    this.initStacks();
    this.setWinnerIndex(-1);
    this.setCurrentPlayerIndex(0);
    this.setBoxChosen({});
    this.isMounted = true;
  },
  methods: {
    initGrid(){
      const side = this.gobbletsGridSide;
      let grid = [];

      for (let row = 0 ; row < side; row++){
        grid.push([]);
        for (let col = 0 ; col < side; col++){
          grid[row].push([]);
        }
      }
      this.setGrid(grid)
    },
    initStacks(){
      let stacks = [];
      for (let playerIndex=0; playerIndex<this.players.length; playerIndex++) {
        stacks.push([]);
        for (let stackIndex=0; stackIndex<this.nbOfStacksPerPlayer; stackIndex++){
          stacks[playerIndex].push([]);
          for (let size=0; size<this.nbOfGobbletsDifferentSizes; size++) {
            stacks[playerIndex][stackIndex].push({
              size,
              playerIndex
            })
          }
        }
      }
      this.setStacks(stacks);
    },
    ...mapMutations([
      "setStacks",
      "setGrid",
      "setWinnerIndex",
      "setCurrentPlayerIndex",
      "setBoxChosen"
    ])
  }
}
</script>

<style scoped>
.winning-text {
  margin-top: 20px;
}
</style>