<template>
  <v-btn
      class="btn-square-md"
      v-on:click="this.$emit('choose');"
      :disabled="isDisabled"
      :style="{
        'color': this.color,
        'font-size': ((this.size + 1) * 15).toString() + 'px',
        'background-color': this.isBoxChosen ? 'yellow' : ''
      }"
  >
    {{size !== -1 ? store.state.gobbletSprite : ''}}
  </v-btn>
</template>

<script>

import {store} from "@/store";

export default {
  name: "gobblets-box",
  computed: {
    store() {
      return store
    }
  },
  props: ["isDisabled", "color", "size", "isBoxChosen"],
}
</script>

<style scoped>
.btn-square-md {
  background-color: lightgray;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0;
}
</style>