<template>
  <table class="stacks-game">
    <tr>
      <th v-for="stackIndex in numberOfStacks" :key="stackIndex">
        <GobbletsBox
            :isDisabled="store.getters.isDisabled({
              stackIndex: stackIndex - 1,
              playerIndex
            })"
            :size="store.getters.size({
              stackIndex: stackIndex - 1,
              playerIndex
            })"
            :color="store.getters.color({
              stackIndex: stackIndex - 1,
              playerIndex
            })"
            :is-box-chosen="store.getters.isBoxChosen({
              stackIndex: stackIndex - 1,
              playerIndex
            })"
            @choose="this.play({
              stackIndex: stackIndex - 1,
              playerIndex
            })"
        />
      </th>
    </tr>
  </table>
</template>

<script>
import {mapMutations} from "vuex";
import GobbletsBox from "@/components/GobbletsBox.vue";
import {store} from "@/store";

export default {
  name: "GobbletsPlayerStacks",
  components: {
    GobbletsBox
  },
  props: ["numberOfStacks", "playerIndex"],
  computed: {
    store() {
      return store
    }
  },
  methods: {
    ...mapMutations([
      "play"
    ])
  }
}
</script>

<style scoped>
.stacks-game{
  margin: auto
}
</style>