<template>
  <table class="grid-game">
    <tr v-for="row in this.side" :key="row">
      <th v-for="col in this.side" :key="col">
        <GobbletsBox
            :isDisabled="store.getters.isDisabled({
              row: row-1,
              col: col-1
            })"
            :size="store.getters.size({
              row: row-1,
              col: col-1
            })"
            :color="store.getters.color({
              row: row-1,
              col: col-1
            })"
            :is-box-chosen="store.getters.isBoxChosen({
              row: row-1,
              col: col-1
            })"
            @choose="this.play({
              row: row-1,
              col: col-1
            })"
        />
      </th>
    </tr>
  </table>
</template>

<script>
import GobbletsBox from "@/components/GobbletsBox";
import {mapMutations} from "vuex";
import {store} from "@/store";

export default {
  name: "gobblets-game-grid",
  components: {GobbletsBox},
  computed: {
    store() {
      return store
    }
  },
  props: ["side"],
  methods: {
    ...mapMutations([
      "play"
    ])
  }
}
</script>

<style scoped>
.grid-game{
  margin: auto
}
</style>