<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <v-btn to="/gobblets">Gobblets</v-btn>
      </div>
      <div class="col-sm-4">
        <v-btn to="/tic-tac-toe">Morpion</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "app-home"
}
</script>

<style scoped>

</style>