<template>
  <h2>
    BUT DU JEU :
  </h2>
  <p>Aligner ses 3 symboles sur une ligne, une colonne ou une diagonale.</p>
  <h2>
    DÉROULEMENT D’UNE PARTIE :
  </h2>
  <p>A tour de rôle, chaque joueur place sur une des cases de la grille son symbole.</p>
  <h2>
    FIN DE LA PARTIE :
  </h2>
  <p>Dès qu’un joueur a  ses 3 symboles alignés, il est déclaré vainqueur.</p>
  <p>Si la grille est remplie sans qu'il n'y ait de gagnant, il y a égalité.</p>
</template>

<script>
export default {
  name: "TicTacToeRules"
}
</script>

<style scoped>

</style>