<template>
  <table class="grid-game">
      <tr v-for="row in this.side" :key="row">
          <th v-for="col in this.side" :key="col">
            <TicTacToeBox
                :player="this.player"
                :winner="this.winner"
                @change="this.fillGameGrid(row-1, col-1)"
            />
          </th>
      </tr>
  </table>
</template>

<script>
import TicTacToeBox from "@/components/TicTacToeBox";

export default {
  name: "tic-tac-toe-game",
  components: {TicTacToeBox},
  data(){
    return {
      gameGrid: [],
      turn: 0,
      player: 0,
      winner: undefined
    }
  },
  props:["side"],
  mounted() {
    // remplit la grille de -3 (-1 * le côté de la grille), i.e occupé par aucun joueur
    for (let row = 0 ; row < this.side; row++){
      this.gameGrid.push([]);
      for (let col = 0 ; col < this.side; col++){
        this.gameGrid[row].push(-1 * this.side);
      }
    }
  },
  methods: {
    /**
     * Joue sur la case donnée par la ligne et la colonne donnée en paramètre
     */
    fillGameGrid(row, col){
      // remplit la case (row, col) avec l'indice du joueur donné en paramètre.
      this.gameGrid[row][col] = this.player;
      // incrémente la valeur du tour
      this.turn += 1;
      // finit le tour
      this.endTurn(row, col)
    },
    /**
     * Teste la victoire, passe la main au joueur suivant
     */
    endTurn(row, col){
      // si le dernier coup amène la victoire
      if (this.isWinningMove(row, col)) {
        // met à jour le vainqueur et l'envoie à l'élément parent.
        this.winner = this.player.toString();
        this.$emit("winner", this.winner);
      }
      // sinon, si le jeu est finit
      else if (this.isGameOver()){
        // retourne l'indication d'égalité à l'élément parent.
        this.winner = "draw";
        this.$emit("draw")
      }
      // sinon
      else {
        // passe la main au joueur suivant
        this.player = (this.player + 1) % 2;
      }
    },

    /**
     * Retourne true si un des rangs au départ de la case (row, col) donnée en paramètre ne contiennent que des sprites du joueur en cours
     */
    isWinningMove(row, col){
      let isWin = false;

      // la ligne, la colonne contenant la case, et les 2 diagonales.
      const rowArray = this.gameGrid[row];
      const colArray = this.gameGrid.map(value => value[col]);
      const diagNWSE = this.gameGrid.map((value, index) => value[index])
      const diagNESW = this.gameGrid.map((value, index) => value[this.side - index - 1]);

      // pour chaque rangée,
      for (const arr of [rowArray, colArray, diagNWSE, diagNESW]){
        // si la somme des valeurs de la rangée vaut le côté x la valeur du joueur
        if (arr.reduce((acc, value) => acc + value, 0) === this.side * this.player){
          // alors le joueur a gagné
          isWin = true;
        }
      }
      return isWin;
    },

    /**
     * Retourne true si la grille est totalement remplie
     */
    isGameOver(){
      // la grille est totalement remplie si le nombre de tours passé est égal au nombre de cases de la grille
      return this.turn === this.side * this.side;
    }
  }
}
</script>

<style scoped>
.grid-game{
  margin: auto
}
</style>