<template>
  <v-btn
      class="btn-square-md"
      v-on:click="setPlayerValue"
      :disabled="playerValue !== '' || this.winner"
  >
    {{playerValue}}
  </v-btn>
</template>

<script>
export default {
  name: "tic-tac-toe-box",
  data(){
    return {
      playerValue: "",
    }
  },
  props: ["player", "winner"],
  methods: {
    setPlayerValue(){
      this.playerValue = this.player === 0 ? "\u{2b55}" : "\u{274c}";
      this.$emit("change");
    }
  }
}
</script>

<style scoped>
.btn-square-md {
  background-color: lightgray;
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0;
  font-size: 60px;
}
</style>