<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/gobblets">Gobblets</router-link> |
    <router-link to="/tic-tac-toe">Morpion</router-link>
  </nav>
  <nav v-if="$route.path.startsWith('/gobblets')">
    <router-link to="/gobblets">Jeu</router-link> |
    <router-link to="/gobblets/about">À propos</router-link>
  </nav>
  <nav v-if="$route.path.startsWith('/tic-tac-toe')">
    <router-link to="/tic-tac-toe">Jeu</router-link> |
    <router-link to="/tic-tac-toe/about">À propos</router-link>
  </nav>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
<script setup>
</script>